@font-face{
    font-family:'opendyslexic';
    font-style: normal;
    font-weight: 400;
    src: local('opendyslexic'), url(fonts/OpenDyslexic-Regular.ttf) format('truetype');
}

html {
    background: rgb(0, 0, 0) transparent;
    background: rgba(0, 0, 0, 0);
}


body {
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
    font-family: 'opendyslexic';
    /*background-image: url("res/diaglog-box.png") ;*/
    /*background-size: cover;*/
    /*color: #3071a9;*/

}

